// tablets and less
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
}

// smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  // home
  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 10rem;
    }
  }

  // stack grid columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // about
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  // contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "number"
          "message";
        width: 99%;
      }
    }

    &-b {
      padding: 1rem;
      .contact-info {
        grid-template-columns: 1fr;

        & div {
          margin-bottom: 1.5rem;
          border-bottom: 1px solid $light-color;

          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }

    &-c {
      padding: 2rem;
      p {
        font-size: 2rem;
      }
    }
  }

  // footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1.5rem;
      height: 5rem;

      .social {
        margin-top: 0.5rem;
      }
    }
  }
}

// landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
